<header class="header home-three">
    <!-- Header Top -->
    <div class="header-top-one">
        <div class="container">
            <div class="header-top-outer">
                <div class="header-top-info">
                    <i class="far fa-clock"></i>
                    <p>Çalışma Saatleri: Pzt - Cum 08.00 - 18.00</p>
                </div>
                <div class="header-top-contact-info">
                    <ul>
                        <li><i class="icon-22"></i><a href="#">+91-213-666-0027</a></li>
                        <li><i class="icon-23"></i><a href="#">info@example.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Top -->
    <!-- Main Header -->
    <div class="main_header">
        <div class="container">
            <div class="main_header_inner">
                <div class="main_header_logo">
                    <figure>
                        <a href="index.html"><img src="/carola pack/carola/assets/images/logo-light.png" alt="Companny Logo"></a>
                    </figure>
                </div>
                <div class="main_header_menu menu_area">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                    <nav class="main-menu">
                        <div class="collapse navbar-collapse show" id="navbarSupportedContent">
                            <ul class="navigation">
                                <li class="dropdown active">
                                    <a href="index.html">Ana Sayfa</a>
                                    <ul>
                                        <li><a href="index.html">Ana Sayfa Bir</a></li>
                                        <li><a href="index-2.html">Ana Sayfa İki</a></li>
                                        <li><a href="index-3.html">Ana Sayfa Üç</a></li>
                                        <li><a href="index-4.html">Ana Sayfa Dört</a></li>
                                        <li><a href="index-5.html">Ana Sayfa Beş</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="index.html">Araç Filosu</a>
                                    <ul>
                                        <li><a href="car-listing.html">Araç Listesi</a></li>
                                        <li><a href="car-listing-2.html">Araç Listesi 2</a></li>
                                        <li><a href="car-listing-3.html">Araç Listesi 3</a></li>
                                        <li><a href="car-listing-4.html">Araç Listesi 4</a></li>
                                        <li><a href="car-details.html">Araç Detayları</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="index.html">Sayfalar</a>
                                    <ul>
                                        <li><a href="about-us.html">Hakkımızda</a></li>
                                        <li><a href="team.html">Ekibimiz</a></li>
                                        <li><a href="faq.html">Sıkça Sorulan Sorular</a></li>
                                        <li class="dropdown">
                                            <a href="index.html">Müşteri Yorumları</a>
                                            <ul>
                                                <li><a href="testimonials.html">Müşteri Yorumları</a></li>
                                                <li><a href="testimonials-2.html">Müşteri Yorumları 2</a></li>
                                                <li><a href="testimonials-3.html">Müşteri Yorumları 3</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="services-area.html">Hizmet Bölgeleri</a></li>
                                        <li><a href="area-details.html">Bölge Detayları</a></li>
                                        <li><a href="gallery.html">Galeri</a></li>
                                        <li><a href="pricing.html">Fiyatlandırma</a></li>
                                        <li><a href="checkout.html">Ödeme</a></li>
                                        <li><a href="error.html">404</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="index.html">Haberler</a>
                                    <ul>
                                        <li><a href="blog-grid.html">Blog Izgara</a></li>
                                        <li><a href="blog-standard.html">Blog Standart</a></li>
                                        <li><a href="blog-details.html">Blog Detayları</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">İletişim</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="header_right_content">
                    <button class="search-toggler"><i class="fas fa-search"></i></button>
                    <div class="language-switcher">
                        <div id="polyglotLanguageSwitcher">
                            <form action="#">
                                <select id="polyglot-language-options">
                                    <option id="tr" value="tr" selected></option>
                                    <option id="en" value="en"></option>
                                    <option id="fr" value="fr"></option>
                                    <option id="de" value="de"></option>
                                    <option id="it" value="it"></option>
                                    <option id="es" value="es"></option>
                                </select>
                            </form>
                        </div>
                    </div>
                    <div class="link-btn"><a href="#" class="btn-style-one">Giriş Yap</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Header -->
    <!-- Sticky Header-->
    <div class="sticky_header">
        <div class="container">
            <div class="main_header_inner">
                <div class="main_header_logo">
                    <figure>
                        <a href="index.html"><img src="/carola pack/carola/assets/images/logo-light.png" alt="Companny Logo"></a>
                    </figure>
                </div>
                <div class="main_header_menu menu_area">
                    <nav class="main-menu">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav>
                </div>
                <div class="header_right_content">
                    <button class="search-toggler"><i class="fas fa-search"></i></button>
                    <div class="link-btn"><a href="#" class="btn-style-one">Account</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Sticky Header-->
    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn">X</div>
        <nav class="menu-box">
            <div class="nav-logo"><a href="index.html"><img src="/carola pack/carola/assets/images/mobile-logo.png" alt="" title=""></a></div>
            <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
            <div class="contact-info">
                <h4>Contact Info</h4>
                <ul>
                    <li>Chicago 12, Melborne City, USA</li>
                    <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                    <li><a href="mailto:info@example.com">info@example.com</a></li>
                </ul>
            </div>
            <ul class="social-links centred">
                <li><a href="index.html"><span class="fab fa-twitter"></span></a></li>
                <li><a href="index.html"><span class="fab fa-facebook-square"></span></a></li>
                <li><a href="index.html"><span class="fab fa-pinterest-p"></span></a></li>
                <li><a href="index.html"><span class="fab fa-instagram"></span></a></li>
                <li><a href="index.html"><span class="fab fa-youtube"></span></a></li>
            </ul>
        </nav>
    </div>
    <!-- End Mobile Menu -->

</header>