<div id="search-popup" class="search-popup">
    <div class="popup-inner">
        <div class="container">
            <div class="upper-box">
                <figure class="logo-box"><a href="index.html"><img src="/carola pack/carola/assets/images/logo.png" alt=""></a></figure>
                <div class="close-search"><span class="fa-solid fa-xmark"></span></div>
            </div>
        </div>
        <div class="overlay-layer"></div>
        <div class="container">
            <div class="search-form">
                <form method="post" action="index.html">
                    <div class="form-group">
                        <fieldset>
                            <input type="search" class="form-control" name="search-input" value="" placeholder="Type your keyword and hit" required>
                            <button type="submit"><i class="icon-50"></i></button>
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>