<footer class="main_footer home-three">
    <div class="container">
        <div class="footer-top-outer">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="footer_widget footer_about_widget">
                        <figure class="footer_widget_logo">
                            <a href="index.html"><img src="/carola pack/carola/assets/images/footer-logo.png" alt=""></a>
                        </figure>
                        <h6><strong>Bizi Takip Edin:</strong></h6>
                        <ul class="social-links">
                            <li><a href="#"><i class="fab fa-square-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-square-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="footer_widget footer_resources_widget">
                        <h4 class="footer_widget_title">Kaynaklar</h4>
                        <ul class="resources_page_list">
                            <li><a href="#">Ekibimiz Hakkında</a></li>
                            <li><a href="#">Politikalar</a></li>
                            <li><a href="#">Kariyer</a></li>
                            <li><a href="#">Basın</a></li>
                            <li><a href="#">Açık Yol</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12">
                    <div class="footer_widget footer_community_widget">
                        <h4 class="footer_widget_title">Topluluk</h4>
                        <ul class="community_page_list">
                            <li><a href="#">Bülten</a></li>
                            <li><a href="#">Yorumlar</a></li>
                            <li><a href="#">Müşteri Görüşleri</a></li>
                            <li><a href="#">Sosyal Grup</a></li>
                            <li><a href="#">Destek Merkezi</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="footer_widget footer_contact_widget">
                        <h4 class="footer_widget_title">İletişim</h4>
                        <p>57 Heold Insaf Station Road, Cardiff, Birleşik Krallık</p>
                        <ul class="footer-info-list">
                            <li><a href="#">info@example.com</a></li>
                            <li><a href="#">029 2021 4012</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-outer">
            <div class="copyright">Telif Hakkı &copy; 2024 &nbsp;<a href="index.html">Carola</a>. Tüm Hakları Saklıdır.</div>
        </div>
    </div>
</footer>