<section class="why-chooseus-section pt_120 pb_90">
    <div class="shape-three"><img src="/carola pack/carola/assets/images/shape/shape-3.png" alt=""></div>
    <div class="shape-four"><img src="/carola pack/carola/assets/images/shape/shape-4.png" alt=""></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="section-title mb_60">
                    <span class="sub-title">BİZ EN İYİYİZ</span>
                    <h2 class="title">Dünyayı Kendi Sürüş Tarzınla Keşfet</h2>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="why-chooseus-block">
                    <div class="why-chooseus-icon light">
                        <i class="icon-49"></i>
                    </div>
                    <h5 class="why-chooseus-title">Ücretsiz Araç Alma ve Teslim Hizmeti</h5>
                    <p class="why-chooseus-text">Konforunuz bizim için önemli. Araçlarınız için ücretsiz teslim alma ve bırakma hizmetiyle stressiz bir deneyim sunuyoruz.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="why-chooseus-block">
                    <div class="why-chooseus-icon light">
                        <i class="icon-27"></i>
                    </div>
                    <h5 class="why-chooseus-title">7/24 Yol Yardım Hizmeti</h5>
                    <p class="why-chooseus-text">Zaman ve mekan fark etmeksizin, 7/24 yol yardım hizmetimiz sayesinde asla yolda kalmazsınız. Güvenle sürüş yapın.</p>
                </div>
            </div>
        </div>
    </div>
</section>